<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= ''.pluralize(@user.errors.count) %> Этот пользователь не может быть сохранен</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Имя" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Почта" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :login, "Логин" %><br>
    <%= f.text_field :login %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить"%>
  </div>
<% end %>
